<a href="https://colab.research.google.com/github/junaidurrehmankhan/PGD_DSAI_Class_1/blob/main/week2_class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=input("enter no1:")
b=input ("enter no2:")
a= int (a)
b=int(b)
print (type(a), type(b))
print(a+b)

enter no1:3
enter no2:4
<class 'int'> <class 'int'>
7

In [3]:
a=input("enter no1:")
b=input ("enter no2:")
print (type(a), type(b))
print(a+b)

enter no1:4
enter no2:5
<class 'str'> <class 'str'>
45

In [4]:
a=int(input("enter no1:"))
b=int(input ("enter no2:"))
print (type(a), type(b))
print(a+b)

enter no1:4
enter no2:5
<class 'int'> <class 'int'>
9

In [5]:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = "NED University \nStudent roll no:" + str(roll_no)+\
"\nStudent Name: " + name + "\nFather's Name: " + fname +"\nContact no: "+ contact_no
rint(card)

NED University
Student roll no:200
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Contact no: 03152968211

In [ ]:
roll_no = 200
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
contact_no = "03152968211"

card = "NED universtiy /nstudent"